body {
    overflow: hidden;
    height: auto;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: black;
    overflow: hidden;
}

.bg-image{
    /* background-image: url("../public/img/bgLanding.png"); */
    background-repeat: no-repeat;
    background-size: auto;
}
 html {
    background-color: rgba(225, 225, 252, 0.404);
}
