body {
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    color: black;
    overflow: hidden;
}

.bg-image{
    /* background-image: url("../public/img/bgLanding.png"); */
    background-repeat: no-repeat;
    background-size: auto;
}
html {
    overflow: hidden;
}
